
html,body {
    height: 100%;
}
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}
a:hover {
    color: #fff;
}
.body_bg {
    background-color: #ace;
}
.top_250 {
    margin-top: 250px;
}
.mb-20 {
    margin-bottom: 20px;
}

.le_aside {
    width: 180px;
    height: 100%;
    background-color: #222d32;
    position: fixed;
    top: 0;
    left: -180px;
    z-index: 9;
    transition: all 1s;
}

.le_aside.new {
    left: 0;
}
.le_brand {
    width: 100%;
    background-color: #367fa9;
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    color: white;
}
.le_user {
    text-align: center;
    margin-top: 30px;
}
.le_user img{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
.le_user p {
    padding: 10px 0;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}
.le_nav {
    line-height: 36px;
    font-size: 16px;
}
.le_nav .list-unstyled ul a {
    line-height: 32px;
    padding-left: 70px;
}
.le_nav a {
    color: #fff;
    display: block;
    padding-left: 40px;
}
.le_nav a.active,
.le_nav a:hover {
    background-color: #000;
}

.le_main {
    transition: all 1s;
    height: 100%;
    padding-top: 70px;
}
.le_main.new {
    padding-left: 180px;
}
.le_main-header {
    position: fixed;
    background-color: #3c8dbc;
    height: 50px;
    margin-bottom: 20px;
    width: 100%;
    top: 0;
    left: 0;
}
.le_main-header a {
    color: white;
    line-height: 50px;
    margin: 0 20px 0 200px;
    transition: all 1s;
}
.le_main-header a.new {
    margin-left: 20px;
}
.charts {
    width: 48%;
    height: 400px;
}


.table.table-bordered td {
    vertical-align: middle;
}

.file_box {
    width: 82px;
    height: 34px;
    position: relative;
}
.file_box:hover button{
    background-color: #e6e6e6;
    border-color: #adadad;
}
.file_box input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}